<!-- Snippet Added by DesignThemes Fancy FAQ Application -->

<div class="page-width">
    {{ page.content }}
</div>

<link rel="stylesheet" media="all" href="https://dtapps.vedicthemes.com/fancy-faqv2/wp-content/plugins/dt-faq-shopify-app/assets/css/all.min.css">
<link rel="stylesheet" media="all" href="https://dtapps.vedicthemes.com/fancy-faqv2/wp-content/plugins/dt-faq-shopify-app/assets/css/frontend.css">
<link rel="stylesheet" media="all" href="{{ 'dtfq-skins.css' | asset_url }}">

<!-- Snippet Added by DesignThemes Fancy FAQ Application -->